*{
    box-sizing: border-box;
}
    body{
    background-color: hsl(226, 43%, 10%);
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    line-height: 3rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5% 15%;
    gap: 20px;
    row-gap: 50px;
    color: white;
}

.card-principal {
    grid-row: span 2;
    color: hsl(235, 45%, 61%);
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;

    .perfil{
        background-color: hsl(246, 80%, 60%);
        border-radius: 10px;
        padding: 20px;
        color: white;   
        
        img {
        width: 60px;
        border: 3px solid white;
        border-radius: 50%;
        margin-bottom: 2rem;    
        }

        p{
            color: hsl(236, 100%, 87%);
            font-weight: 400;
            font-size: 15px;
        }

        h1 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }

    .escolha-periodo {
        font-weight: 400;
        padding: 25px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        line-height: 1;

        .periodo {
            padding-bottom: 20px;
        
            &:hover {
            color: white;
            cursor: pointer;
            }
        }
    
        .ativo {
            color: white;
            }
     }
}

.card {
    border-radius: 10px;
    height: 200px;

    
    .icone {
        border-radius: 10px;        
        display: flex;
        justify-content: right;
        height: 50px;
        overflow: hidden;

        img {
            max-width: 100%;
            height: auto;
            align-self: center;
        }
    }
}

.card__conteudo {
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
    padding: 20px;

    &:hover {
        background-color: hsl(235, 45%, 61%);
    }

    h2 {
        font-size: 13px;
        font-weight: 500;
    }
    p {
        font-size: 3rem;
    }

    h3 {
        font-size: 14px;
        color: hsl(236, 100%, 87%);
        font-weight: 400;
    }
    
    .ativo {
    display: block;
    }
}

.work{ 
    background-color: hsl(15, 100%, 70%);
}

.play {
    background-color:hsl(195, 74%, 62%);    

}

.study {
    background-color: hsl(348, 100%, 68%);
}

.exercise {
    background-color:hsl(145, 58%, 55%) ;
}

.social {
    background-color: hsl(264, 64%, 52%);
}

.self-care{
    background-color: hsl(43, 84%, 65%);
}

.card__conteudo-dia {
    display: none;
}

.card__conteudo-semana {
    display: none;
}

.card__conteudo-mes {
    display: none;
}

.attribution {
    color: white; 
    font-size: 12px;  
    text-align: center;

    a {
        text-decoration: none;
        color: aquamarine;
    }
}

@media screen and(max-width:480px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: auto 5%;
    }

    .card-principal {
        width: 80vw;
    }

    .card {
        width: 80vw;
    }
}
