*{
    box-sizing: border-box;
}
    body{
    background-color: hsl(226, 43%, 10%);
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15% 15% 15%;
    gap: 20px;
    row-gap: 60px;
    color: white;
}

.card-principal {
    grid-row: span 2;
    color: hsl(235, 45%, 61%);
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;

    .perfil{
        background-color: hsl(246, 80%, 60%);
        border-radius: 10px;
        padding: 20px;
        color: white;   
        
        img {
        width: 60px;
        border: 3px solid white;
        border-radius: 50%;
        margin-bottom: 3rem;
        }

        p{
            color: hsl(235, 45%, 61%);
            font-weight: 400;
        }

        h1 {
            margin-top: 1rem;
            font-size: 2rem;
        }
    }

    .escolha-periodo {
        font-weight: 400;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .periodo:hover {
        color: white;
        cursor: pointer;

    }
}

.card {
    border-radius: 10px;
    height: fit-content;

    
    .icone {
        border-radius: 10px;        
        display: flex;
        justify-content: right;
        height: 50px;
        overflow: hidden;

        img {
            max-width: 100%;
            height: auto;
            align-self: center;
        }
    }
}

.card__conteudo {
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
    padding: 20px;
}

.work{ 
    background-color: hsl(15, 100%, 70%);
}

.play {
    background-color:hsl(195, 74%, 62%);    

}

.study {
    background-color: hsl(348, 100%, 68%);
}

.exercise {
    background-color:hsl(145, 58%, 55%) ;
}

.social {
    background-color: hsl(264, 64%, 52%);
}

.self-care{
    background-color: hsl(43, 84%, 65%);
}

.attribution {
    color: white; 
    font-size: 12px;  
    text-align: center;

    a {
        text-decoration: none;
        color: aquamarine;
    }
}

