*{
    box-sizing: border-box;
}
    body{
    background-color: hsl(226, 43%, 10%);
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15% 15% 15%;
    gap: 20px;
    row-gap: 60px;
    color: white;
}

.card {
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
   
}



.card-principal {
    grid-row: span 2;
    color: hsl(235, 45%, 61%);
    background-color: hsl(246, 80%, 60%);

    img {
        width: 60px;
        border: 3px solid white;
        border-radius: 50%;
    }
}

.icone {
    display: flex;
    justify-content: right;
}

.work{
    .icone {
        background-color: hsl(15, 100%, 70%);
        border-radius: 10px;
    }
}

.play {
    .icone {
        background-color:hsl(195, 74%, 62%);
        border-radius: 10px;
    }
}

.study {
    .icone{
        background-color: hsl(348, 100%, 68%);
        border-radius: 10px;
    }
}

.exercise {
    .icone {
        background-color:hsl(145, 58%, 55%) ;
        border-radius: 10px;
    }
}

.social {
    .icone {
        background-color: hsl(264, 64%, 52%);
        border-radius: 10px;
    }
}

.self-care{
    .icone {
        background-color: hsl(43, 84%, 65%);
        border-radius: 10px;
    }
}

.attribution {
    color: white; 
    font-size: 12px;  

    a {
        text-decoration: none;
        color: aquamarine;
    }
}